.preview-box {
	-webkit-overflow-scrolling: touch;
	background: $white;
	height: 100%;
	max-width: 100%;
	overflow-y: scroll;
	position: fixed;
	right: 0;
	top: 0;
	transform: translate3d(110%, 0, 0);
	transition: transform 0.5s;
	width: 992px;
	z-index: 100;
	.preview-wrap {
		position: relative;
		padding: 30px 15px;
		margin-bottom: 50px;
	}
	.preview-header {
		display: block;
		padding: 15px 0 10px 0;
		text-align: center;
		.project-title {
			color: $brand;
			font-weight: 700;
			margin-top: 0;
		}
	}
	.preview-body {
		display: block;
		margin-bottom: 50px;
		position: relative;
	}
	.quote-table {
		border-collapse: collapse;
		border-spacing: 0;
		font-size: 16px;
		width: 100%;
		th {
			font-weight: 700;
			white-space: nowrap;
		}
		th,
		td {
			background: #f8f8f8;
			border-bottom: 1px solid $white;
			padding: 8px;
			text-align: center;
			&.no {
				width: 40px;
			}
			&.no,
			&.total {
				color: $white;
				background: $brand;
			}
			&.total {
				font-weight: 700;
				text-align: right;
				width: 90px;
			}
			&.desc {
				text-align: left;
				h3 {
					color: $brand;
					font-size: 16px;
					font-weight: 600;
					margin: 0 0 5px 0;
				}
			}
			&.qty {
				width: 50px;
			}
			&.unit {
				background: rgba($black, 0.08);
				text-align: center;
				width: 80px;
			}
		}
		tfoot {
			th,
			td {
				text-align: right;
				&:first-child {
					background: transparent;
				}
				&:last-child {
					background: rgba($black, 0.08);
				}
			}
		}
	}
	.preview-actions {
		align-items: center;
		display: flex;
		justify-content: space-between;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
		a {
			display: inline-flex;
			align-items: center;
			border: 0;
			border-radius: 0;
			span {
				margin-left: 5px;
			}
		}
	}
}
.overlay {
	background: $black;
	height: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateZ(0);
	transition: opacity 0.5s, width 0 0.5s, height 0 0.5s;
	width: 0;
	z-index: 99;
}
body {
	&.preview--open {
		overflow: hidden !important;
		.overlay {
			width: 100%;
			height: 100%;
			opacity: 0.3;
			transition: opacity 0.5s;
		}
		.preview-box {
			transform: translate3d(0, 0, 0);
		}
	}
}
