.filter-box {
  width: 100%;
  display: block;
  margin: 0 0 2.5em;
  padding: 1.5em 1.25em 0;
  border-radius: 0.5em;
  background: $white;
  box-shadow: rgba($black, 0.01) 0px 1px 0px, rgba($black, 0.025) 0px 0px 8px, rgba($black, 0.075) 0px 20px 30px;

  @include media-breakpoint-up("md") {
    position: sticky;
    z-index: 2;
    top: 0;
  }

  .dropdown-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-up("md") {
      flex-direction: row;

      .form-group {
        width: 50%;

        &:first-child {
          margin-right: 0.5em;
        }

        &:last-child {
          margin-left: 0.5em;
        }
      }
    }

    .form-group {
      position: relative;

      select {
        cursor: pointer;
      }

      svg {
        position: absolute;
        z-index: 2;
        top: 50%;
        right: em(10);
        transform: translateY(-50%);
      }
    }
  }

  .checkbox-fields {
    @include media-breakpoint-down("xs") {
      display: flex;
      flex-wrap: wrap;
    }
  }
}