.site-footer {
  padding: rem(80) 0 rem(50) 0;
  background: #fbfbfb;
  background: linear-gradient(0deg, #fbfbfb 0%, #fff 100%);

  p,
  a {
    margin: 0;
    transition: color .3s ease;
    text-decoration: none;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #ababab;
    font-size: rem(12);
    font-weight: 500;
  }

  a:hover {
    color: $primary;
  }

  .footer-inner {
    display: flex;
    flex-direction: row;
    align-items: center;

    div {
      display: inline-flex;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;

      a {
        margin-left: rem(24);
      }
    }

    .links {
      margin-right: auto;
    }
  }
}