body {
  overflow-x: hidden;
}

.application {
  display: block;
  margin: rem(50) auto;
}

.checkbox-fields {
  .form-check {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: em(20);
    padding-right: rem(35);
    padding-left: 0;

    label {
      position: relative;
      display: inline-flex;
      align-items: center;
      margin: 0;
      cursor: pointer;
      font-weight: 400;

      span {
        line-height: 1;
      }

      span:first-child {
        margin-right: rem(8);
      }

      input,
      svg {
        width: $checkbox-size;
        height: $checkbox-size;
      }

      input {
        position: relative;
        margin: 0;
        padding: 0;
        cursor: pointer;
        transition: box-shadow 0.3s;
        border: none;
        border-radius: $input-border-radius;
        outline: none;
        background: $white;
        box-shadow: inset 0 0 0 $input-border-width $gray-200;
        appearance: none;

        &:hover {
          box-shadow: inset 0 0 0 $input-border-width darken($gray-200, 5%);
        }

        &:checked {
          transition-delay: 0.4s;
          box-shadow: inset 0 0 0 $input-border-width $primary;

          &+svg {
            stroke-dasharray: 16.1 86.12;
            stroke-dashoffset: 102.22;
          }
        }
      }

      svg {
        position: absolute;
        top: 0;
        left: 0;
        width: $checkbox-size;
        height: $checkbox-size;
        transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
        transform: scale(1) translateZ(0);
        pointer-events: none;
        fill: none;
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: $primary;
        stroke-dasharray: 86.12;
        stroke-dashoffset: 86.12;
      }
    }
  }
}

.dropdown-fields {
  .form-group {
    margin-bottom: em(20);
  }
}

.form-control {
  height: em(46);
  padding: em(10) em(14);
  transition: none;
  outline: 0;
  box-shadow: none;

  &::-webkit-input-placeholder {
    /* Edge */
    color: $input-placeholder-color;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $input-placeholder-color;
  }

  &::placeholder {
    color: $input-placeholder-color;
  }
}

textarea {
  min-height: em(55);
  resize: vertical;
}

select.form-control {
  appearance: none;
}

.form-group {
  width: 100%;
  margin-bottom: rem(40);
}

label[for] {
  cursor: pointer;
  font-weight: 600;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: em(10) em(20);
  outline: 0;
  font-weight: 600;

  svg {
    margin-right: em(8);
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: none;
  }
}

.form-actions {
  text-align: center;

  .btn {
    margin: 0 rem(8);
  }
}

.modal {
  position: fixed;
  z-index: 1050;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($black, 0.4);

  .modal-content {
    width: rem(500);
    max-width: 100%;
    padding: rem(30);
    text-align: center;
    border-radius: $border-radius;
    background: $white;
  }

  .modal-heading {
    margin-bottom: rem(25);
    font-weight: 700;
  }

  .modal-actions {
    .btn {
      min-width: rem(150);
      margin: rem(15) rem(10) 0;
    }
  }
}