html * {
  scroll-behavior: auto;
}

body {
  overflow-x: hidden;
}

b,
strong {
  font-weight: $font-weight-semi-bold;
}

label {
  margin-bottom: 0.125rem;
}

.application {
  display: block;
  margin: 3.125rem auto;
}

.form-control {
  height: 2.875rem;
  padding: 0.625rem 0.825rem;
  transition: none;
  outline: 0;
  box-shadow: none;

  &::-webkit-input-placeholder {
    /* Edge */
    color: $input-placeholder-color;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $input-placeholder-color;
  }

  &::placeholder {
    color: $input-placeholder-color;
  }
}

textarea {
  min-height: 3.5rem;
  resize: vertical;
}

select.form-control {
  appearance: none;
}

.form-group {
  width: 100%;
  margin-bottom: 1.5rem;
}

label[for] {
  cursor: pointer;
  font-weight: $font-weight-medium;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.425rem 1.125rem;
  outline: 0;

  svg {
    margin-right: 0.5rem;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: none;
  }
}

.form-actions {
  text-align: center;

  .btn {
    margin: 0 .5rem;
  }
}

.modal {
  position: fixed;
  z-index: 1050;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($black, 0.4);

  .modal-content {
    width: 31.25rem;
    max-width: 100%;
    padding: 2rem;
    text-align: center;
    border-radius: $border-radius;
    background: $white;
  }

  .modal-heading {
    margin-bottom: 1.5rem;
    font-weight: 700;
  }

  .modal-actions {
    .btn {
      min-width: 9.25rem;
      margin: $font-size-base .75rem 0;
    }
  }
}