html {
  font-size: initial;
}

body {
  overflow: auto;
  height: auto;
  padding: 0;
  color: $text-color;
  background: $bg-color;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0 0 em(20);
}

body,
select,
input,
textarea,
button {
  letter-spacing: $letter-spacing-base;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
}

#header,
#footer {
  position: relative;
  z-index: 1;
}

#main {
  position: relative;
  z-index: 2;
}

.floating {
  animation: floating 3s ease infinite;
  will-change: transform;

  @keyframes floating {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(10px);
    }

    100% {
      transform: translateY(0px);
    }
  }
}

#application {
  display: block;
  width: rem(992);
  max-width: 100%;
  margin: rem(35) auto;
}