.waves {
  color: $primary;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(500);



    @include media-breakpoint-down("sm") {
      width: 80rem;
      height: 40rem;
    }

    @include media-breakpoint-down("xs") {
      width: 50rem;
      height: 30rem;
    }

    &:first-of-type {
      opacity: 0.3;
    }

    &:last-of-type {
      opacity: 0.2;
    }
  }
}

.site-header {
  padding: rem(120) 0 rem(70);

  @include media-breakpoint-down("xs") {
    padding: em(35) 0 0;
    text-align: center;
  }

  .header-content {
    width: rem(992);
    max-width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .site-title {
    max-width: 100%;
    display: block;
    margin: 0 0 rem(30);
    text-transform: uppercase;
    color: $white;
    text-shadow: 2px 2px $primary;
    font-family: $font-family-heading;
    font-size: em(48);
    font-weight: 900;

    @include media-breakpoint-up("md") {
      font-size: em(64);
    }

    a {
      text-decoration: none;
      color: inherit;

      &:hover,
      &:focus {
        color: inherit;
      }
    }
  }

  .site-description {
    margin-bottom: rem(50);
    color: $dark;
    text-shadow: 0 0 rgba($black, 0.3);
    font-size: em(18);
  }

  a {
    margin: rem(15) rem(8);

    svg {
      margin-right: rem(8);
    }
  }
}