.waves {
  position: absolute;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: 31.25rem;
  color: $primary;

  @include media-breakpoint-down("sm") {
    height: 40rem;
  }

  @include media-breakpoint-down("xs") {
    height: 30rem;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include media-breakpoint-down("sm") {
      width: 80rem;
    }

    @include media-breakpoint-down("xs") {
      width: 50rem;
    }

    &:first-of-type {
      opacity: 0.3;
    }

    &:last-of-type {
      opacity: 0.2;
    }
  }
}

.site-header {
  padding: 1.25rem 0 0;

  .header-content {
    display: block;
    width: 62rem;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .site-title {
    display: block;
    max-width: 100%;
    margin: 0 0 2rem;
    text-transform: uppercase;
    color: $white;
    text-shadow: 2px 2px $primary;
    font-family: "Teko", sans-serif;
    font-size: 4rem;
    font-weight: 900;

    @include media-breakpoint-up("md") {
      font-size: 8rem;
    }

    a {
      text-decoration: none;
      color: inherit;

      &:hover,
      &:focus {
        color: inherit;
      }
    }
  }

  .site-description {
    margin-bottom: 3.125rem;
    color: $dark;
    font-size: 1.125rem;
  }
}