.items {
  width: 100%;
  display: block;
  margin: 0 0 $font-size-base;

  .item-col,
  .item-row {
    flex-shrink: 0;

    &.title {
      flex-grow: 1;
    }

    &.qty {
      width: 3.25rem;
      flex: 0 0 auto;
    }

    &.price,
    &.total {
      width: 6rem;
      flex: 0 0 auto;
    }
  }

  .item-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;

    &>* {
      margin-left: .5rem;
    }
  }

  .item-remove {
    width: 2.875rem;
  }

  .items-head {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
    color: $body-color;
    border-bottom: 1px solid $input-border-color;
    font-weight: $font-weight-medium;

    .item-col {
      padding: 0.375rem 0;
    }
  }

  .item-row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $input-border-color;

    .form-control {
      background: transparent;

      &:focus {
        box-shadow: none;
      }

      &:disabled {
        background: $gray-100;
		cursor: not-allowed;
      }
    }

    .item-group {
      .form-control {
        padding-right: 0.625rem;
        padding-left: 0.625rem;
        text-align: right;
      }
    }

    .item-remove {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      cursor: pointer;
      outline: 0;

      svg {
        width: 1.25rem;
        height: 1.25rem;
        margin: 0;
      }
    }

    &:hover {
      .item-remove {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

@include media-breakpoint-down("sm") {
  .items {
    .items-head {
      &.hourly {
        flex-direction: column;

        .item-group {
          border-top: 1px solid $input-border-color;
        }

        .item-col {
          text-align: left;

          &.title {
            text-align: center;
          }
        }
      }

      .item-remove {
        width: 0;
      }

      .item-col {
        text-align: left;

        &.total {
          flex: 1;
          text-align: right;
        }
      }
    }

    .item-row {
      flex-direction: column;

      .item-col {
        &.title {
          margin-bottom: .5rem;
        }

        &.total {
          flex: 1;
        }
      }

      .item-group {
        .item-col {
          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.summary {
  table {
    border-color: $input-border-color;

    tr {
      td {
        padding: 0.825rem 1rem;
        vertical-align: middle;
      }

      td:first-child {
        text-align: right;
        font-weight: $font-weight-medium;
      }

      td:last-child {
        width: 10.25rem;
        text-align: center;
      }

      &.total {
        td {
          background: $gray-100;
        }
      }
    }
  }

  .table-bordered>thead>tr>th,
  .table-bordered>tbody>tr>th,
  .table-bordered>tfoot>tr>th,
  .table-bordered>thead>tr>td,
  .table-bordered>tbody>tr>td,
  .table-bordered>tfoot>tr>td {
    border-color: $input-border-color;
  }

  .inline-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;

    >span {
      display: block;
      margin-left: .5rem;

      &:first-child {
        margin-left: 0;
      }

      .form-control {
        width: auto;
        max-width: 7.25rem;
      }
    }
  }
}