.items {
  width: 100%;
  display: block;
  margin: 0 0 rem(15);

  .item-col,
  .item-row {
    &.title {
      flex-grow: 1;
    }

    &.qty {
      width: rem(70);
      flex: 0 0 rem(70);
    }

    &.price,
    &.total {
      width: rem(100);
      flex: 0 0 rem(100);
    }
  }

  .item-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;

    &>* {
      margin-left: rem(8);
    }

    .form-control {
      text-align: center;
    }
  }

  .item-remove {
    width: rem(46);
  }

  .items-head {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
    color: $body-color;
    border-bottom: 1px solid $input-border-color;
    font-weight: 600;

    .item-col {
      padding: rem(6) 0;
    }
  }

  .item-row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $input-border-color;

    .form-control {
      background: transparent;

      &:focus {
        box-shadow: none;
      }
    }

    .total {
      .form-control {
        background: $gray-100;
      }
    }

    .item-group {
      .form-control {
        padding-right: rem(2);
        padding-left: rem(2);
        text-align: center;
      }
    }

    .item-remove {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      cursor: pointer;
      outline: 0;

      svg {
        width: rem(30);
        height: rem(30);
        margin: 0;
      }
    }

    &:hover {
      .item-remove {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

@include media-breakpoint-down("sm") {
  .items {
    .items-head {
      &.hourly {
        flex-direction: column;

        .item-group {
          border-top: 1px solid $input-border-color;
        }

        .item-col {
          text-align: left;

          &.title {
            text-align: center;
          }
        }
      }

      .item-remove {
        width: 0;
      }

      .item-col {
        text-align: left;

        &.total {
          flex: 1;
          text-align: right;
        }
      }
    }

    .item-row {
      flex-direction: column;

      .item-col {
        &.title {
          margin-bottom: rem(8);
        }

        &.total {
          flex: 1;
        }
      }

      .item-group {
        .item-col {
          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.summary {
  table {
    border-color: $input-border-color;

    tr {
      td {
        padding: rem(12) rem(16);
        vertical-align: middle;
      }

      td:first-child {
        text-align: right;
        font-weight: 600;
      }

      td:last-child {
        width: rem(164);
        text-align: center;
      }

      &.total {
        td {
          background: $gray-100;
        }
      }
    }
  }

  .table-bordered>thead>tr>th,
  .table-bordered>tbody>tr>th,
  .table-bordered>tfoot>tr>th,
  .table-bordered>thead>tr>td,
  .table-bordered>tbody>tr>td,
  .table-bordered>tfoot>tr>td {
    border-color: $input-border-color;
  }

  .inline-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;

    >span {
      display: block;
      margin-left: rem(8);

      &:first-child {
        margin-left: 0;
      }

      .form-control {
        width: auto;
        max-width: rem(120);
      }
    }
  }
}