$white: #fff;
$font-family-base: Montserrat, "sans-sarif";
$font-family-heading: $font-family-base;
$font-weight-base: 400;
$letter-spacing-base: 0.8px;
$line-height-base: 1.8;

$body-color: #545454;
$primary: #fbb807;
$secondary: #4c5c68;
$info: #1da1f2;
$dark: #232323;
$danger: #e0245e;

// Form inputs configs
$input-border-color: #f5f7fa;
$input-placeholder-color: #aaaaaa;
$input-color: $body-color;
$input-focus-border-color: rgba($primary, 0.5);
$input-focus-bg: $white;
$input-focus-box-shadow: 0 0 0 0.25em rgba($primary, 0.1);

// Button config
$btn-box-shadow: none;
$btn-font-size: rem(15);

// Footer configs
$footer-bg-color: #4c5c68;
$footer-text-color: $white;
$footer-link-color: $white;
$footer-link-hover-color: $primary;

// Media queries breakpoints
// Small screen / tablet
$screen-sm-min: 768px;
// Medium screen / desktop
$screen-md-min: 992px;
// Large screen / wide desktop
$screen-lg-min: 1200px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

$checkbox-size: rem(22);
